.main-btn{
    padding: 10px 20px;
    background-color: white;
    border: none;
}

.footer-btn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 20px;
}